/*color*/
$basic_white: #ffffff;
$basic_black: #000000;
$basic_grey: #4d4d4d;
$basic_sea_color: #03a06c;
$opacity_sea_color: rgba(3, 160, 108, 0.3);
$basic_text_black: rgba(32, 53, 56, 0.9);
$bg_input: #03a06c12;
$border_input: rgba(65, 65, 65, 0.3);
$special_sea_color: #006141;
$opacity_black: rgba(0, 0, 0, 0.1);
$button_grey: #939393;
$button_grey_disabled: rgb(121, 118, 118);
$bg_img: #d8d8d8;
$bg_offer_card: rgba(3, 160, 108, 0.2);
$bg_offer_card_active: rgba(3, 160, 108, 0.3);
$offer_text: #203538;
$shadow_black_opacity: rgba(0, 0, 0, 0.05);
$bg_color_apps: #e5e5e5;
$form_color: rgba(0, 0, 0, 0.3);
$form_color_active: rgba(0, 0, 0, 0.8);
$footer_text: rgba(0, 0, 0, 0.8);
$bg_page: #f6f6f6;
$opacity-yellow-white: rgba(240, 207, 173, 0.58);

/*viewbox*/
$width_tablet: 768px;
$width_desktop: 1232px;
$special_width_tablet: 812px;
