.apps {
  background: url('../img/banner-mobile.jpg') no-repeat center $basic_sea_color;
  height: 215px;

  @media (min-width: $special_width_tablet) {
    background: url('../img/banner.jpg') no-repeat center $basic_sea_color;
    height: 290px;
  }
}

.apps__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 200px;

  @media (min-width: $special_width_tablet) {
    display: none;
  }
}
