.main {
  @media (min-width: $width_desktop) {
    display: grid;
    grid-template-areas: 'f f o'
      'i i o'
      'n n n'
      'a a c';
  }
}

.main__check {
  margin: 17px 20px;

  @media (min-width: $width_desktop) {
    grid-area: f;
    margin-top: 13px;
    margin-left: 32px;
    margin-right: 0;
    width: 849px;
    height: 360px;
  }
}

.main__offers {
  @media (min-width: $width_desktop) {
    grid-area: o;
  }
}

.main__apps {
  margin-bottom: 20px;

  @media (min-width: $width_desktop) {
    grid-area: i;
    background-color: $bg_color_apps;
    padding-bottom: 20px;
    margin-left: 30px;
    width: 849px;
    height: 211px;
    display: flex;
    justify-content: center;
  }
}

.main__news {
  padding-top: 17px;

  @media (min-width: $width_desktop) {
    grid-area: n;
    width: 1232px;
    height: 380px;
    margin-top: 20px;
  }
}

.main__article {
  @media (min-width: $width_desktop) {
    grid-area: a;
    margin-top: 20px;
    margin-left: 10px;
  }
}

.main__city {
  @media (min-width: $width_desktop) {
    grid-area: c;
    margin-left: -100px;
  }
}
