.offers__list {
  @media (min-width: $width_desktop) {
    margin-top: 30px;
    margin-left: -30px;
  }
}

.offers__item {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $basic_white;
  border: 2px solid $basic_sea_color;
  border-radius: 2px;
  margin: 0 20px 16px 20px;
  height: 100px;

  &:hover,
  &:focus {
    background-color: $bg_offer_card;
    transition: 0.25s ease;
  }

  &:active {
    background-color: $bg_offer_card_active;
  }

  &:hover h3,
  &:focus h3 {
    color: $basic_sea_color;
    transition: 0.25s ease;
  }

  &:active h3 {
    color: $special_sea_color;
  }

  &:first-child .offers__item-logo {
    @media (min-width: $width_desktop) {
      margin-top: 10px;
    }
  }

  &:first-child .offers__item-title {
    @media (min-width: $width_desktop) {
      margin-top: 10px;
    }
  }

  &:nth-child(2) .offers__item-logo {
    margin-left: -25px;

    @media (min-width: $width_desktop) {
      margin-left: -20px;
    }
  }

  @media (min-width: $width_desktop) {
    margin: 0;
    width: 300px;
    height: 152px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    margin-left: 5px;
    box-shadow: 0 1px 10px $opacity_black;
  }
}

.offers__item--active {
  @media (max-width: $width_desktop) {
    height: 186px;

    .offers__item-description {
      display: block;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      margin-left: 50px;
      margin-right: 20px;
    }
  }
}

.offers__item-logo {
  margin-left: -10px;

  @media (min-width: $width_desktop) {
    margin-left: 5px;
    transform: scale(1.3);
    position: absolute;
    top: 16px;
    left: 15px;
  }
}

.offers__item-wrap-text {
  display: flex;
  align-items: center;

  @media (min-width: $width_desktop) {
    margin: 0;
  }
}

.offers__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: $basic_sea_color;
  width: 180px;
  margin-left: 20px;

  @media (min-width: $width_desktop) {
    color: $offer_text;
    font-size: 18px;
    line-height: 23px;
    width: 200px;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 75px;
  }
}

.offers__item-description {
  display: none;

  @media (min-width: $width_desktop) {
    display: block;
    width: 198px;
    font-size: 13px;
    line-height: 18px;
    margin-left: 75px;
    margin-top: 0;
  }
}

.offers__item-question {
  position: absolute;
  right: 10px;
  top: 10px;

  @media (min-width: $width_desktop) {
    display: none;
  }
}
